<style>
  .contact-form {
    width: 75%;
  }
  .contact-form label {
    width: 20%;
    display: block;
  }
  .contact-form input, .contact-form textarea {
    border: 1px solid #666;
  }
  .contact-form textarea {
    width: 100%;
    min-height: 10rem;
  }
  .contact-form button {
    border-radius: 0.25rem;
    background-color: #666;
    padding: 0.25rem 0.50rem;
    color: #f1f1f1;
  }
</style>
<form name="contact" class="contact-form" method="POST" data-netlify="true">
  <p>
    <label for="name">Your Name</label>
    <input type="text" name="name" id="name"/>
  </p>
  <p>
    <label for="email">Your Email</label>
    <input type="email" name="email" id="email"/>
  </p>
  <p>
    <label for="message">Message</label>
    <textarea name="message" id="message"></textarea>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
